@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 22px;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-width: 900px;
}
body {
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(137,120,189,0.6336659663865547) 45%, rgba(0,212,255,1) 100%);
}
.resume_flexbox {
  display: flex;
  margin: 50px auto;
  width: 800px;
}

.one_thirds {
  width: 33%;
  margin: 5px;
  background-color: rgb(125, 160, 234);
  box-shadow: 0px 0px 30px 5px rgb(48, 46, 46);
}
.two_thirds {
  width: 67%;
  margin: 5px;
  padding: 25px;
  background-color: rgb(143, 139, 173);
  box-shadow: 0px 0px 30px 5px rgb(48, 46, 46);
}  
.avatar img{
  width: 100%;
}
.left_column{
  padding: 10px 25px;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.semi_title {
  font-weight: 600;
  font-size: 16px;
}
ul {
  padding: 25px 0;
  border-bottom: 2px solid;
}
ul:last-child {
  border-bottom: 0;
}
li {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
li:first-child {
  margin-top: 0px;
}
.icon {
  background-color: azure;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bar {
  background-color: rgb(124, 124, 176);
  width: 60%;
  height: 8px;
  margin: 0 5px;
  position: relative;
}
.skills {
  width: 35%;
}
span {
  position: absolute;
  background: antiquewhite;
  height: 100%;
}
.spec {
  position: absolute;
  width: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item {
  border-bottom: 2px solid;
  padding: 25px 0px;
}
.item:last-child {
  border-bottom: 0;
}
.two_thirds .title {
  margin-bottom: 20px;
}
.two_thirds ul {
  padding: 0 0 0 40px;
  overflow: hidden;
}
.two_thirds li{
  position: relative;
  display: block;
}
.two_thirds li::before {
  position: absolute;
  left: -25px;
  top: 6px;
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-radius: 50%;
}
.two_thirds li::after {
  position: absolute;
  left: -21px;
  top: 14px;
  content: "";
  width: 2px;
  height: 108.5%;
  background: black;
}
.two_thirds .date {
  margin-bottom: 10px;
}